---

---

@import "mixins"
@import "colors"
@import "common"

$maxWidthLargeScreen: 1360px

body
    font-size: 16px

header
    background: $white

    > .gj-content-block
        display: flex
        align-items: center

        > a
            img
                +medium-screen-down
                    margin-left: 2.5em

        .gj-button
            margin-bottom: 0

            img
                margin-right: 1em

        +large-screen-up
            +gj-content

            padding-top: 1em
            padding-bottom: 1em

            a:first-of-type
                flex: 2

            a
                flex: 1

            a:last-of-type
                flex: 2

        +medium-screen-down
            justify-content: space-between
            flex-flow: wrap

    [class*="hamburger"]
        background: $black
        width: 2em
        height: 0.375em

        &:not(:last-child)
            margin-bottom: 0.25em

    #hamburger
        display: inline-flex
        flex-direction: column
        padding: 2.5em

        ~ a
            +medium-screen-down
                margin-top: -480px
                padding: 1.25em
                width: 100%
                transition: margin-top ease-in-out 0.25s

        .hamburger-bun
            position: relative
            transition: all linear 0.1s

            &:first-child
                top: 0
                transform: rotateZ(0)

            &:last-child
                bottom: 0
                transform: rotateZ(0)

        &.is-open
            &, & ~ a
                margin-top: 0
                background: $offWhite
                border-bottom: 1px solid $gjLitGray

            .hamburger-bun
                &:first-child
                    top: 0.3125em
                    transform: rotateZ(-45deg)
                &:last-child
                    bottom: 0.3125em
                    transform: rotateZ(45deg)

            .hamburger-meat
                display: none

    +medium-screen-down

footer
    padding-top: 1em
    text-align: center
    background: $gjGray

    p, a
        font-size: inherit
        font-weight: inherit
        color: $white

.large-screen-up
    +medium-screen-down
        display: none !important

.medium-screen-down
    +large-screen-up
        display: none !important

.ng-submitted .ng-invalid, .ng-touched.ng-invalid
    border: 0.25em solid $gjRed

    & ~ .contact-form-validation-error
        display: inline

.gj-button
    display: inline-block
    box-sizing: border-box
    padding: 0.5em 1em
    color: $white
    text-align: center
    border-style: solid
    border-width: 0.125em
    border-radius: 0.25em
    cursor: pointer
    margin-bottom: 1em
    transition: all ease-in 0.1s

    &:hover
        color: $gjLightPurpleBlue

    &.gj-button-primary
        background: $gjBlue
        border-color: $gjBlue

    &.gj-button-secondary
        background: transparent
        border-color: $white

        &:hover
            border-color: $gjLightPurpleBlue

.gj-content
    +gj-content

.gj-hero-content
    +gj-content

    padding-top: 3.75em
    padding-bottom: 3.75em

    h1, p, a
        color: $white

.gj-content-block
    display: inline-block

.gj-form-row
    display: flex

    .gj-form-element:not(:first-child)
        margin-left: 1em

.gj-form-element
    margin-bottom: 1em

    > label:first-of-type
        display: block
        margin-bottom: 1em

.gj-form-column-half
    flex: 2

.gj-form-column-quarter
    flex: 1

.contact-form-validation-error
    display: none
    color: $gjLightRed

#contact
    color: $white
    text-align: center
    background: $black

#contact-content
    +gj-content

    padding-right: 10em
    padding-left: 10em

    h3, p, label
        color: $white

    form
        text-align: left

@import "pages/home"
@import "pages/products"
@import "pages/services"
