*
    padding: 0
    margin: 0

h1, h2, h3
    margin-bottom: 1em

p
    padding-bottom: 1em

a
    color: $gjDarkBlue
    text-decoration: none

input:not([type="radio"]), select, textarea
    box-sizing: border-box
    padding: 0.5em 1em
    width: 100%

ul
    padding-left: 1em
    text-align: left
