$largeBreakpoint: 1200px
$mediumBreakpoint: 768px

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

=large-screen-up
    @media only screen and (min-width: $largeBreakpoint)
        @content

=medium-screen-down
    @media only screen and (max-width: $largeBreakpoint - 1)
        @content

=medium-screen-up
    @media only screen and (min-width: $mediumBreakpoint)
        @content

=small-screen-only
    @media only screen and (max-width: $mediumBreakpoint - 1)
        @content

=gj-content
    box-sizing: border-box
    padding: 2.5em 1em
    width: 100%
    max-width: $maxWidthLargeScreen
    margin: 0 auto
