<!DOCTYPE html>
<html lang="en" ng-app="grayjax">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato" rel="stylesheet"> 
        <link href="/css/index.css" rel="stylesheet">
        <title>GrayJax Technologies</title>
        <script>
            (function setOriginalPathNameInHistory() {
                var originalPathName = window.sessionStorage.getItem('originalPathName');

                if (originalPathName) {
                    history.replaceState(null, null, originalPathName);

                    window.sessionStorage.removeItem('originalPathName');
                }
            })();
        </script>
        <base href="/">
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    </head>
    <body ng-controller="GrayJaxRoot">
        <header>
            <a href="/">
                <img src="/img/logo.png" alt="GrayJax Logo" />
            </a>
            <a href="/products">Products</a>
            <a href="/services">Services</a>
            <a href="#contact">Contact</a>
            <a class="gj-button gj-button-primary">
                <img src="/img/remote-techsupport-icon.png" alt="Remote Tech Support - Coming Soon!" />
                <div class="gj-content-block">
                    Remote Tech Support
                    <br />
                    Coming Soon
                </div>
            </a>
        </header>
        <ng-view id="{{ pageId }}"></ng-view>
        <div id="contact">
            <div id="contact-content">
                <h2>Interested in learning more about GrayJax's solutions?</h2>
                <p>Contact us by filling out the form below and a GrayJax representative will reach out to you shortly:</p>
                <form name="contactUsForm" method="POST" action="/" novalidate ng-submit=" contactUsForm.$valid ? null : $event.preventDefault(); contactUsForm.$setSubmitted() ">
                    <div class="gj-form-row">
                        <div class="gj-form-element gj-form-column-quarter">
                            <label for="contact-form-name-input">Name</label>
                            <input id="contact-form-name-input" type="text" name="name" ng-model="contactUsRequest.name" required />
                            <span class="contact-form-validation-error">Please enter your name.</span>
                        </div>
                        <div class="gj-form-element gj-form-column-quarter">
                            <label for="contact-form-phone-number-input">Phone Number</label>
                            <input id="contact-form-phone-number-input" type="tel" name="phoneNumber" ng-model="contactUsRequest.phoneNumber" required />
                            <span class="contact-form-validation-error">Please enter a valid phone number.</span>
                        </div>
                        <div class="gj-form-element gj-form-column-half">
                            <label for="contact-form-email-input">Email Address</label>
                            <input id="contact-form-email-input" type="email" name="email" ng-model="contactUsRequest.email" required />
                            <span class="contact-form-validation-error">Please enter a valid email address.</span>
                        </div>
                    </div>
                    <div class="gj-form-row">
                        <div class="gj-form-element gj-form-column-quarter">
                            <label for="contact-form-contact-method-input-option-{{ checked || 1 }}">Preferred Contact Method</label>
                            <div class="gj-content-block">
                                <input id="contact-form-contact-method-input-option-1" type="radio" name="preferredContactMethod" value="Phone" ng-click="checked = 2" />
                                <label for="contact-form-contact-method-input-option-1">Phone</label>
                            </div>
                            <div class="gj-content-block">
                                <input id="contact-form-contact-method-input-option-2" type="radio" name="preferredContactMethod" value="Email" checked ng-click="checked = 1" />
                                <label for="contact-form-contact-method-input-option-2">Email</label>
                            </div>
                        </div>
                        <div class="gj-form-element gj-form-column-quarter">
                            <label for="contact-form-company-name-input">Company Name</label>
                            <input id="contact-form-company-name-input" type="text" name="companyName" placeholder="optional" />
                        </div>
                        <div class="gj-form-element gj-form-column-half">
                            <label for="contact-form-type-of-inquery-select">Type of Inquiry</label>
                            <select id="contact-form-type-of-inquery-select" name="inquiryType" ng-model="contactUsRequest.inqueryType" required>
                                <option value="Repair">Repair</option>
                                <option value="General Help">General Help</option>
                                <option value="New System">New System</option>
                                <option value="Assessment of Current System">Assessment of Current System</option>
                            </select>
                            <span class="contact-form-validation-error">Please select a type of inquery.</span>
                        </div>
                    </div>
                    <div class="gj-form-element">
                        <label for="contact-form-description-textarea">Describe your inquiry:</label>
                        <textarea id="contact-form-description-textarea" type="text" name="description" ng-model="contactUsRequest.description" required></textarea>
                        <span class="contact-form-validation-error">Please enter an inquiry.</span>
                    </div>
                    <input class="gj-button gj-button-secondary" type="submit" value="Contact Us" />
                </form>
            </div>
        </div>
        <footer>
            <p>
                &copy; 2016 GrayJax Technologies | (678) 372-5947 | <a href="mailto:info@GrayJaxTechnologies.com">info@GrayJaxTechnologies.com</a>
            </p>
        </footer>
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-route/angular-route.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
