#home
    .gj-hero
        text-align: center
        background: url(/img/home-featured.jpg) no-repeat
        background-size: cover

    .gj-content
        display: flex

    .gj-content-block
        flex: 1

        text-align: center
