$babyBlue: #EBF0F4
$lightBlue: #F5F8F9

#products
    .gj-hero
        text-align: center
        background: url(/img/products-featured.jpg) no-repeat
        background-size: cover

        p
            max-width: 600px
            margin: 0 auto

.products-comparion-grid-row
    display: flex
    text-align: center
    border-bottom: 1px solid $gjLightGray

    .gj-content-block
        flex: 2
        display: flex
        align-items: center
        padding: 1em 2em

        &:first-of-type
            flex: 1
            text-align: right

        &:nth-child(2), &:nth-child(4)
            background: $lightBlue

        &:nth-child(3)
            background: $babyBlue

        h2
            margin-bottom: 0

        h2, span
            flex: 1


#products-comparison-grid
    width: 100%

#products-comparion-grid-header
    border-bottom: 1px solid $gjGray
