#services
    h2
        text-align: center

    .gj-hero
        text-align: left
        background: green

.service-plan
    flex: 1

.service-plan-feature-block
    border-top: 1px dotted $black

#service-plans
    display: flex
    width: 100%
    text-align: center
